<template>
  <MDBContainer class="mt-3 mb-8">
    <h1 class="mt-3">About</h1>
    <MDBRow>
      <MDBCol class="col-md-6 offset-md-3">
        <MDBCard>
          <a v-mdb-ripple="{ color: 'light' }" class="ms-5 me-5 mt-3">
            <MDBCardImg alt="..." src="img/profile-pic-k-sqaure.png" top/>
          </a>
          <MDBCardBody>
            <MDBCardTitle>I made this!</MDBCardTitle>
            <MDBCardText>
              <p>
                Hi! My name is K and I made this project for my portfolio using Vue 3.x which pulls user information
                from GitHub via API and shows it here in customized design.
              </p>
              <p>
              <h6>Project details</h6>
              <ul>
                <li>Vuejs 3.2.x</li>
                <li>Card as Vue components</li>
                <li>Cypress unit text</li>
                <li>Cypress e3e test</li>
                <li>Material Design Bootstrap 5</li>
              </ul>
              </p>
              <p>
                I have made many different projects using different systems which you can see on my portfolio website.
              </p>
            </MDBCardText>
            <MDBBtn color="primary" href="https://www.mywebartist.eu/" tag="a" target="_blank">See My Portfolio</MDBBtn>
            <MDBBtn outline="secondary" href="https://gitlab.com/kittykittygo/github-user-profiles-vue" tag="a" target="_blank">Source Code on GitLab</MDBBtn>
          </MDBCardBody>
        </MDBCard>
      </MDBCol>
    </MDBRow>
  </MDBContainer>
</template>

<script>
import {MDBCard, MDBCardBody, MDBCardTitle, MDBCardText, MDBCardImg, MDBBtn, mdbRipple} from "mdb-vue-ui-kit";
import {MDBContainer, MDBRow, MDBCol} from 'mdb-vue-ui-kit';

export default {
  components: {
    MDBCard,
    MDBCardBody,
    MDBCardTitle,
    MDBCardText,
    MDBCardImg,
    MDBBtn,
    MDBContainer,
    MDBRow,
    MDBCol,
  },
  directives: {
    mdbRipple
  }
};
</script>