<template>
  <MDBContainer class="mb-8">
    <h1 class="mt-3" data-test="home-page-title">Github Users</h1>
    <MDBRow v-if="users">
      <MDBCol v-for="(user,i) in users" v-bind:key="i" col="4 mt-3" data-test="home-page-user-cards">
        <UserThumbCard v-bind:user="user"
                       v-on:deleteUser="deleteUser"></UserThumbCard>
      </MDBCol>
    </MDBRow>
<!--    loading users-->
    <MDBRow v-else>
      <MDBCol class="text-center" >
        <div class="spinner-border text-success" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </MDBCol>

    </MDBRow>
  </MDBContainer>
</template>

<script>
// @ is an alias to /src
import UserThumbCard from '@/components/UserThumbCard.vue'
import {MDBContainer} from 'mdb-vue-ui-kit';
import {mdbRipple} from "mdb-vue-ui-kit";
import {MDBCol, MDBRow} from 'mdb-vue-ui-kit';
import axios from 'axios'

export default {
  name: 'UsersListView',
  components: {
    MDBContainer,
    MDBCol,
    MDBRow,
    UserThumbCard
  },
  directives: {
    mdbRipple
  },
  props: {},
  data() {
    return {
      users: [
        // {
        //   "login": "mojombo",
        //   "id": 1,
        //   "node_id": "MDQ6VXNlcjE=",
        //   "avatar_url": "https://avatars.githubusercontent.com/u/1?v=4",
        //   "gravatar_id": "",
        //   "url": "https://api.github.com/users/mojombo",
        //   "html_url": "https://github.com/mojombo",
        //   "followers_url": "https://api.github.com/users/mojombo/followers",
        //   "following_url": "https://api.github.com/users/mojombo/following{/other_user}",
        //   "gists_url": "https://api.github.com/users/mojombo/gists{/gist_id}",
        //   "starred_url": "https://api.github.com/users/mojombo/starred{/owner}{/repo}",
        //   "subscriptions_url": "https://api.github.com/users/mojombo/subscriptions",
        //   "organizations_url": "https://api.github.com/users/mojombo/orgs",
        //   "repos_url": "https://api.github.com/users/mojombo/repos",
        //   "events_url": "https://api.github.com/users/mojombo/events{/privacy}",
        //   "received_events_url": "https://api.github.com/users/mojombo/received_events",
        //   "type": "User",
        //   "site_admin": false
        // },
        // {
        //   "login": "defunkt",
        //   "id": 2,
        //   "node_id": "MDQ6VXNlcjI=",
        //   "avatar_url": "https://avatars.githubusercontent.com/u/2?v=4",
        //   "gravatar_id": "",
        //   "url": "https://api.github.com/users/defunkt",
        //   "html_url": "https://github.com/defunkt",
        //   "followers_url": "https://api.github.com/users/defunkt/followers",
        //   "following_url": "https://api.github.com/users/defunkt/following{/other_user}",
        //   "gists_url": "https://api.github.com/users/defunkt/gists{/gist_id}",
        //   "starred_url": "https://api.github.com/users/defunkt/starred{/owner}{/repo}",
        //   "subscriptions_url": "https://api.github.com/users/defunkt/subscriptions",
        //   "organizations_url": "https://api.github.com/users/defunkt/orgs",
        //   "repos_url": "https://api.github.com/users/defunkt/repos",
        //   "events_url": "https://api.github.com/users/defunkt/events{/privacy}",
        //   "received_events_url": "https://api.github.com/users/defunkt/received_events",
        //   "type": "User",
        //   "site_admin": false
        // },
        // {
        //   "login": "pjhyett",
        //   "id": 3,
        //   "node_id": "MDQ6VXNlcjM=",
        //   "avatar_url": "https://avatars.githubusercontent.com/u/3?v=4",
        //   "gravatar_id": "",
        //   "url": "https://api.github.com/users/pjhyett",
        //   "html_url": "https://github.com/pjhyett",
        //   "followers_url": "https://api.github.com/users/pjhyett/followers",
        //   "following_url": "https://api.github.com/users/pjhyett/following{/other_user}",
        //   "gists_url": "https://api.github.com/users/pjhyett/gists{/gist_id}",
        //   "starred_url": "https://api.github.com/users/pjhyett/starred{/owner}{/repo}",
        //   "subscriptions_url": "https://api.github.com/users/pjhyett/subscriptions",
        //   "organizations_url": "https://api.github.com/users/pjhyett/orgs",
        //   "repos_url": "https://api.github.com/users/pjhyett/repos",
        //   "events_url": "https://api.github.com/users/pjhyett/events{/privacy}",
        //   "received_events_url": "https://api.github.com/users/pjhyett/received_events",
        //   "type": "User",
        //   "site_admin": false
        // },
        // {
        //   "login": "wycats",
        //   "id": 4,
        //   "node_id": "MDQ6VXNlcjQ=",
        //   "avatar_url": "https://avatars.githubusercontent.com/u/4?v=4",
        //   "gravatar_id": "",
        //   "url": "https://api.github.com/users/wycats",
        //   "html_url": "https://github.com/wycats",
        //   "followers_url": "https://api.github.com/users/wycats/followers",
        //   "following_url": "https://api.github.com/users/wycats/following{/other_user}",
        //   "gists_url": "https://api.github.com/users/wycats/gists{/gist_id}",
        //   "starred_url": "https://api.github.com/users/wycats/starred{/owner}{/repo}",
        //   "subscriptions_url": "https://api.github.com/users/wycats/subscriptions",
        //   "organizations_url": "https://api.github.com/users/wycats/orgs",
        //   "repos_url": "https://api.github.com/users/wycats/repos",
        //   "events_url": "https://api.github.com/users/wycats/events{/privacy}",
        //   "received_events_url": "https://api.github.com/users/wycats/received_events",
        //   "type": "User",
        //   "site_admin": false
        // },
      ],
    }
  },
  created() {
    this.getList()
  },
  methods: {
    getList() {
      let api = "https://api.github.com/users?per_page=10"
      axios.get(api,{
        params: {

        }
      }).then((response) => {
        console.log(response.data)
        this.users = response.data

      })
    },
    deleteUser(user) {
      this.users = this.users.filter(u => u.login !== user.login)
    }
  }
}
</script>
