<template>
  <MDBContainer class="mb-8">
    <!-- Content here -->
    <h1 class="mt-3" data-test="user-thumb-card-title">Github User</h1>
    <MDBRow class="">
      <MDBCol col="">
        <UserDetailsCard class="" v-bind:user="user"
          v-bind:repos="repos"
        ></UserDetailsCard>
      </MDBCol>
    </MDBRow>
  </MDBContainer>
</template>

<script>
// @ is an alias to /src
import UserDetailsCard from '@/components/UserDetailsCard.vue'
import {MDBContainer} from 'mdb-vue-ui-kit';
import {mdbRipple} from "mdb-vue-ui-kit";
import {MDBCol, MDBRow} from 'mdb-vue-ui-kit';
import axios from 'axios'

export default {
  name: 'UserDetailsView',
  components: {
    MDBContainer,
    MDBCol,
    MDBRow,
    UserDetailsCard
  },
  directives: {
    mdbRipple
  },
  props: {},
  data() {
    return {
      userData: [],
      user: {
        "login": "mojombo",
        "id": 1,
        "node_id": "MDQ6VXNlcjE=",
        "avatar_url": "https://avatars.githubusercontent.com/u/1?v=4",
        "gravatar_id": "",
        "url": "https://api.github.com/users/mojombo",
        "html_url": "https://github.com/mojombo",
        "followers_url": "https://api.github.com/users/mojombo/followers",
        "following_url": "https://api.github.com/users/mojombo/following{/other_user}",
        "gists_url": "https://api.github.com/users/mojombo/gists{/gist_id}",
        "starred_url": "https://api.github.com/users/mojombo/starred{/owner}{/repo}",
        "subscriptions_url": "https://api.github.com/users/mojombo/subscriptions",
        "organizations_url": "https://api.github.com/users/mojombo/orgs",
        "repos_url": "https://api.github.com/users/mojombo/repos",
        "events_url": "https://api.github.com/users/mojombo/events{/privacy}",
        "received_events_url": "https://api.github.com/users/mojombo/received_events",
        "type": "User",
        "site_admin": false,
        "name": "Tom Preston-Werner",
        "company": "@chatterbugapp, @redwoodjs, @preston-werner-ventures ",
        "blog": "http://tom.preston-werner.com",
        "location": "San Francisco",
        "email": null,
        "hireable": null,
        "bio": null,
        "twitter_username": "mojombo",
        "public_repos": 63,
        "public_gists": 62,
        "followers": 22972,
        "following": 11,
        "created_at": "2007-10-20T05:24:19Z",
        "updated_at": "2022-04-03T23:40:06Z"
      },
      // url: {
      //   "login": "mojombo",
      //   "id": 1,
      //   "node_id": "MDQ6VXNlcjE=",
      //   "avatar_url": "https://avatars.githubusercontent.com/u/1?v=4",
      //   "gravatar_id": "",
      //   "url": "https://api.github.com/users/mojombo",
      //   "html_url": "https://github.com/mojombo",
      //   "followers_url": "https://api.github.com/users/mojombo/followers",
      //   "following_url": "https://api.github.com/users/mojombo/following{/other_user}",
      //   "gists_url": "https://api.github.com/users/mojombo/gists{/gist_id}",
      //   "starred_url": "https://api.github.com/users/mojombo/starred{/owner}{/repo}",
      //   "subscriptions_url": "https://api.github.com/users/mojombo/subscriptions",
      //   "organizations_url": "https://api.github.com/users/mojombo/orgs",
      //   "repos_url": "https://api.github.com/users/mojombo/repos",
      //   "events_url": "https://api.github.com/users/mojombo/events{/privacy}",
      //   "received_events_url": "https://api.github.com/users/mojombo/received_events",
      //   "type": "User",
      //   "site_admin": false,
      //   "name": "Tom Preston-Werner",
      //   "company": "@chatterbugapp, @redwoodjs, @preston-werner-ventures ",
      //   "blog": "http://tom.preston-werner.com",
      //   "location": "San Francisco",
      //   "email": null,
      //   "hireable": null,
      //   "bio": null,
      //   "twitter_username": "mojombo",
      //   "public_repos": 63,
      //   "public_gists": 62,
      //   "followers": 22969,
      //   "following": 11,
      //   "created_at": "2007-10-20T05:24:19Z",
      //   "updated_at": "2022-04-03T23:40:06Z"
      // },
      repos: [
        {
          "id": 26899533,
          "node_id": "MDEwOlJlcG9zaXRvcnkyNjg5OTUzMw==",
          "name": "30daysoflaptops.github.io",
          "full_name": "mojombo/30daysoflaptops.github.io",
          "private": false,
          "owner": {
            "login": "mojombo",
            "id": 1,
            "node_id": "MDQ6VXNlcjE=",
            "avatar_url": "https://avatars.githubusercontent.com/u/1?v=4",
            "gravatar_id": "",
            "url": "https://api.github.com/users/mojombo",
            "html_url": "https://github.com/mojombo",
            "followers_url": "https://api.github.com/users/mojombo/followers",
            "following_url": "https://api.github.com/users/mojombo/following{/other_user}",
            "gists_url": "https://api.github.com/users/mojombo/gists{/gist_id}",
            "starred_url": "https://api.github.com/users/mojombo/starred{/owner}{/repo}",
            "subscriptions_url": "https://api.github.com/users/mojombo/subscriptions",
            "organizations_url": "https://api.github.com/users/mojombo/orgs",
            "repos_url": "https://api.github.com/users/mojombo/repos",
            "events_url": "https://api.github.com/users/mojombo/events{/privacy}",
            "received_events_url": "https://api.github.com/users/mojombo/received_events",
            "type": "User",
            "site_admin": false
          },
          "html_url": "https://github.com/mojombo/30daysoflaptops.github.io",
          "description": null,
          "fork": false,
          "url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io",
          "forks_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/forks",
          "keys_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/keys{/key_id}",
          "collaborators_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/collaborators{/collaborator}",
          "teams_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/teams",
          "hooks_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/hooks",
          "issue_events_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/issues/events{/number}",
          "events_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/events",
          "assignees_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/assignees{/user}",
          "branches_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/branches{/branch}",
          "tags_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/tags",
          "blobs_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/git/blobs{/sha}",
          "git_tags_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/git/tags{/sha}",
          "git_refs_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/git/refs{/sha}",
          "trees_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/git/trees{/sha}",
          "statuses_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/statuses/{sha}",
          "languages_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/languages",
          "stargazers_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/stargazers",
          "contributors_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/contributors",
          "subscribers_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/subscribers",
          "subscription_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/subscription",
          "commits_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/commits{/sha}",
          "git_commits_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/git/commits{/sha}",
          "comments_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/comments{/number}",
          "issue_comment_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/issues/comments{/number}",
          "contents_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/contents/{+path}",
          "compare_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/compare/{base}...{head}",
          "merges_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/merges",
          "archive_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/{archive_format}{/ref}",
          "downloads_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/downloads",
          "issues_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/issues{/number}",
          "pulls_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/pulls{/number}",
          "milestones_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/milestones{/number}",
          "notifications_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/notifications{?since,all,participating}",
          "labels_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/labels{/name}",
          "releases_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/releases{/id}",
          "deployments_url": "https://api.github.com/repos/mojombo/30daysoflaptops.github.io/deployments",
          "created_at": "2014-11-20T06:42:06Z",
          "updated_at": "2021-04-03T10:15:42Z",
          "pushed_at": "2014-11-20T06:42:47Z",
          "git_url": "git://github.com/mojombo/30daysoflaptops.github.io.git",
          "ssh_url": "git@github.com:mojombo/30daysoflaptops.github.io.git",
          "clone_url": "https://github.com/mojombo/30daysoflaptops.github.io.git",
          "svn_url": "https://github.com/mojombo/30daysoflaptops.github.io",
          "homepage": null,
          "size": 1197,
          "stargazers_count": 7,
          "watchers_count": 7,
          "language": "CSS",
          "has_issues": false,
          "has_projects": true,
          "has_downloads": true,
          "has_wiki": true,
          "has_pages": false,
          "forks_count": 2,
          "mirror_url": null,
          "archived": false,
          "disabled": false,
          "open_issues_count": 0,
          "license": null,
          "allow_forking": true,
          "is_template": false,
          "topics": [],
          "visibility": "public",
          "forks": 2,
          "open_issues": 0,
          "watchers": 7,
          "default_branch": "gh-pages"
        },
        {
          "id": 17358646,
          "node_id": "MDEwOlJlcG9zaXRvcnkxNzM1ODY0Ng==",
          "name": "asteroids",
          "full_name": "mojombo/asteroids",
          "private": false,
          "owner": {
            "login": "mojombo",
            "id": 1,
            "node_id": "MDQ6VXNlcjE=",
            "avatar_url": "https://avatars.githubusercontent.com/u/1?v=4",
            "gravatar_id": "",
            "url": "https://api.github.com/users/mojombo",
            "html_url": "https://github.com/mojombo",
            "followers_url": "https://api.github.com/users/mojombo/followers",
            "following_url": "https://api.github.com/users/mojombo/following{/other_user}",
            "gists_url": "https://api.github.com/users/mojombo/gists{/gist_id}",
            "starred_url": "https://api.github.com/users/mojombo/starred{/owner}{/repo}",
            "subscriptions_url": "https://api.github.com/users/mojombo/subscriptions",
            "organizations_url": "https://api.github.com/users/mojombo/orgs",
            "repos_url": "https://api.github.com/users/mojombo/repos",
            "events_url": "https://api.github.com/users/mojombo/events{/privacy}",
            "received_events_url": "https://api.github.com/users/mojombo/received_events",
            "type": "User",
            "site_admin": false
          },
          "html_url": "https://github.com/mojombo/asteroids",
          "description": "Destroy your Atom editor, Asteroids style!",
          "fork": false,
          "url": "https://api.github.com/repos/mojombo/asteroids",
          "forks_url": "https://api.github.com/repos/mojombo/asteroids/forks",
          "keys_url": "https://api.github.com/repos/mojombo/asteroids/keys{/key_id}",
          "collaborators_url": "https://api.github.com/repos/mojombo/asteroids/collaborators{/collaborator}",
          "teams_url": "https://api.github.com/repos/mojombo/asteroids/teams",
          "hooks_url": "https://api.github.com/repos/mojombo/asteroids/hooks",
          "issue_events_url": "https://api.github.com/repos/mojombo/asteroids/issues/events{/number}",
          "events_url": "https://api.github.com/repos/mojombo/asteroids/events",
          "assignees_url": "https://api.github.com/repos/mojombo/asteroids/assignees{/user}",
          "branches_url": "https://api.github.com/repos/mojombo/asteroids/branches{/branch}",
          "tags_url": "https://api.github.com/repos/mojombo/asteroids/tags",
          "blobs_url": "https://api.github.com/repos/mojombo/asteroids/git/blobs{/sha}",
          "git_tags_url": "https://api.github.com/repos/mojombo/asteroids/git/tags{/sha}",
          "git_refs_url": "https://api.github.com/repos/mojombo/asteroids/git/refs{/sha}",
          "trees_url": "https://api.github.com/repos/mojombo/asteroids/git/trees{/sha}",
          "statuses_url": "https://api.github.com/repos/mojombo/asteroids/statuses/{sha}",
          "languages_url": "https://api.github.com/repos/mojombo/asteroids/languages",
          "stargazers_url": "https://api.github.com/repos/mojombo/asteroids/stargazers",
          "contributors_url": "https://api.github.com/repos/mojombo/asteroids/contributors",
          "subscribers_url": "https://api.github.com/repos/mojombo/asteroids/subscribers",
          "subscription_url": "https://api.github.com/repos/mojombo/asteroids/subscription",
          "commits_url": "https://api.github.com/repos/mojombo/asteroids/commits{/sha}",
          "git_commits_url": "https://api.github.com/repos/mojombo/asteroids/git/commits{/sha}",
          "comments_url": "https://api.github.com/repos/mojombo/asteroids/comments{/number}",
          "issue_comment_url": "https://api.github.com/repos/mojombo/asteroids/issues/comments{/number}",
          "contents_url": "https://api.github.com/repos/mojombo/asteroids/contents/{+path}",
          "compare_url": "https://api.github.com/repos/mojombo/asteroids/compare/{base}...{head}",
          "merges_url": "https://api.github.com/repos/mojombo/asteroids/merges",
          "archive_url": "https://api.github.com/repos/mojombo/asteroids/{archive_format}{/ref}",
          "downloads_url": "https://api.github.com/repos/mojombo/asteroids/downloads",
          "issues_url": "https://api.github.com/repos/mojombo/asteroids/issues{/number}",
          "pulls_url": "https://api.github.com/repos/mojombo/asteroids/pulls{/number}",
          "milestones_url": "https://api.github.com/repos/mojombo/asteroids/milestones{/number}",
          "notifications_url": "https://api.github.com/repos/mojombo/asteroids/notifications{?since,all,participating}",
          "labels_url": "https://api.github.com/repos/mojombo/asteroids/labels{/name}",
          "releases_url": "https://api.github.com/repos/mojombo/asteroids/releases{/id}",
          "deployments_url": "https://api.github.com/repos/mojombo/asteroids/deployments",
          "created_at": "2014-03-03T07:40:00Z",
          "updated_at": "2022-03-31T18:12:41Z",
          "pushed_at": "2015-03-10T18:18:16Z",
          "git_url": "git://github.com/mojombo/asteroids.git",
          "ssh_url": "git@github.com:mojombo/asteroids.git",
          "clone_url": "https://github.com/mojombo/asteroids.git",
          "svn_url": "https://github.com/mojombo/asteroids",
          "homepage": null,
          "size": 185,
          "stargazers_count": 93,
          "watchers_count": 93,
          "language": "JavaScript",
          "has_issues": true,
          "has_projects": true,
          "has_downloads": true,
          "has_wiki": true,
          "has_pages": false,
          "forks_count": 13,
          "mirror_url": null,
          "archived": false,
          "disabled": false,
          "open_issues_count": 3,
          "license": {
            "key": "other",
            "name": "Other",
            "spdx_id": "NOASSERTION",
            "url": null,
            "node_id": "MDc6TGljZW5zZTA="
          },
          "allow_forking": true,
          "is_template": false,
          "topics": [],
          "visibility": "public",
          "forks": 13,
          "open_issues": 3,
          "watchers": 93,
          "default_branch": "master"
        },
        {
          "id": 29941343,
          "node_id": "MDEwOlJlcG9zaXRvcnkyOTk0MTM0Mw==",
          "name": "benbalter.github.com",
          "full_name": "mojombo/benbalter.github.com",
          "private": false,
          "owner": {
            "login": "mojombo",
            "id": 1,
            "node_id": "MDQ6VXNlcjE=",
            "avatar_url": "https://avatars.githubusercontent.com/u/1?v=4",
            "gravatar_id": "",
            "url": "https://api.github.com/users/mojombo",
            "html_url": "https://github.com/mojombo",
            "followers_url": "https://api.github.com/users/mojombo/followers",
            "following_url": "https://api.github.com/users/mojombo/following{/other_user}",
            "gists_url": "https://api.github.com/users/mojombo/gists{/gist_id}",
            "starred_url": "https://api.github.com/users/mojombo/starred{/owner}{/repo}",
            "subscriptions_url": "https://api.github.com/users/mojombo/subscriptions",
            "organizations_url": "https://api.github.com/users/mojombo/orgs",
            "repos_url": "https://api.github.com/users/mojombo/repos",
            "events_url": "https://api.github.com/users/mojombo/events{/privacy}",
            "received_events_url": "https://api.github.com/users/mojombo/received_events",
            "type": "User",
            "site_admin": false
          },
          "html_url": "https://github.com/mojombo/benbalter.github.com",
          "description": "The personal website of Ben Balter. Built using Jekyll and GitHub Pages. See humans.txt for more infos.",
          "fork": true,
          "url": "https://api.github.com/repos/mojombo/benbalter.github.com",
          "forks_url": "https://api.github.com/repos/mojombo/benbalter.github.com/forks",
          "keys_url": "https://api.github.com/repos/mojombo/benbalter.github.com/keys{/key_id}",
          "collaborators_url": "https://api.github.com/repos/mojombo/benbalter.github.com/collaborators{/collaborator}",
          "teams_url": "https://api.github.com/repos/mojombo/benbalter.github.com/teams",
          "hooks_url": "https://api.github.com/repos/mojombo/benbalter.github.com/hooks",
          "issue_events_url": "https://api.github.com/repos/mojombo/benbalter.github.com/issues/events{/number}",
          "events_url": "https://api.github.com/repos/mojombo/benbalter.github.com/events",
          "assignees_url": "https://api.github.com/repos/mojombo/benbalter.github.com/assignees{/user}",
          "branches_url": "https://api.github.com/repos/mojombo/benbalter.github.com/branches{/branch}",
          "tags_url": "https://api.github.com/repos/mojombo/benbalter.github.com/tags",
          "blobs_url": "https://api.github.com/repos/mojombo/benbalter.github.com/git/blobs{/sha}",
          "git_tags_url": "https://api.github.com/repos/mojombo/benbalter.github.com/git/tags{/sha}",
          "git_refs_url": "https://api.github.com/repos/mojombo/benbalter.github.com/git/refs{/sha}",
          "trees_url": "https://api.github.com/repos/mojombo/benbalter.github.com/git/trees{/sha}",
          "statuses_url": "https://api.github.com/repos/mojombo/benbalter.github.com/statuses/{sha}",
          "languages_url": "https://api.github.com/repos/mojombo/benbalter.github.com/languages",
          "stargazers_url": "https://api.github.com/repos/mojombo/benbalter.github.com/stargazers",
          "contributors_url": "https://api.github.com/repos/mojombo/benbalter.github.com/contributors",
          "subscribers_url": "https://api.github.com/repos/mojombo/benbalter.github.com/subscribers",
          "subscription_url": "https://api.github.com/repos/mojombo/benbalter.github.com/subscription",
          "commits_url": "https://api.github.com/repos/mojombo/benbalter.github.com/commits{/sha}",
          "git_commits_url": "https://api.github.com/repos/mojombo/benbalter.github.com/git/commits{/sha}",
          "comments_url": "https://api.github.com/repos/mojombo/benbalter.github.com/comments{/number}",
          "issue_comment_url": "https://api.github.com/repos/mojombo/benbalter.github.com/issues/comments{/number}",
          "contents_url": "https://api.github.com/repos/mojombo/benbalter.github.com/contents/{+path}",
          "compare_url": "https://api.github.com/repos/mojombo/benbalter.github.com/compare/{base}...{head}",
          "merges_url": "https://api.github.com/repos/mojombo/benbalter.github.com/merges",
          "archive_url": "https://api.github.com/repos/mojombo/benbalter.github.com/{archive_format}{/ref}",
          "downloads_url": "https://api.github.com/repos/mojombo/benbalter.github.com/downloads",
          "issues_url": "https://api.github.com/repos/mojombo/benbalter.github.com/issues{/number}",
          "pulls_url": "https://api.github.com/repos/mojombo/benbalter.github.com/pulls{/number}",
          "milestones_url": "https://api.github.com/repos/mojombo/benbalter.github.com/milestones{/number}",
          "notifications_url": "https://api.github.com/repos/mojombo/benbalter.github.com/notifications{?since,all,participating}",
          "labels_url": "https://api.github.com/repos/mojombo/benbalter.github.com/labels{/name}",
          "releases_url": "https://api.github.com/repos/mojombo/benbalter.github.com/releases{/id}",
          "deployments_url": "https://api.github.com/repos/mojombo/benbalter.github.com/deployments",
          "created_at": "2015-01-27T23:54:05Z",
          "updated_at": "2021-01-13T19:44:45Z",
          "pushed_at": "2015-01-27T23:54:33Z",
          "git_url": "git://github.com/mojombo/benbalter.github.com.git",
          "ssh_url": "git@github.com:mojombo/benbalter.github.com.git",
          "clone_url": "https://github.com/mojombo/benbalter.github.com.git",
          "svn_url": "https://github.com/mojombo/benbalter.github.com",
          "homepage": "http://ben.balter.com",
          "size": 20836,
          "stargazers_count": 5,
          "watchers_count": 5,
          "language": "CSS",
          "has_issues": false,
          "has_projects": true,
          "has_downloads": true,
          "has_wiki": false,
          "has_pages": false,
          "forks_count": 7,
          "mirror_url": null,
          "archived": false,
          "disabled": false,
          "open_issues_count": 0,
          "license": null,
          "allow_forking": true,
          "is_template": false,
          "topics": [],
          "visibility": "public",
          "forks": 7,
          "open_issues": 0,
          "watchers": 5,
          "default_branch": "master"
        },
        {
          "id": 330651,
          "node_id": "MDEwOlJlcG9zaXRvcnkzMzA2NTE=",
          "name": "bert",
          "full_name": "mojombo/bert",
          "private": false,
          "owner": {
            "login": "mojombo",
            "id": 1,
            "node_id": "MDQ6VXNlcjE=",
            "avatar_url": "https://avatars.githubusercontent.com/u/1?v=4",
            "gravatar_id": "",
            "url": "https://api.github.com/users/mojombo",
            "html_url": "https://github.com/mojombo",
            "followers_url": "https://api.github.com/users/mojombo/followers",
            "following_url": "https://api.github.com/users/mojombo/following{/other_user}",
            "gists_url": "https://api.github.com/users/mojombo/gists{/gist_id}",
            "starred_url": "https://api.github.com/users/mojombo/starred{/owner}{/repo}",
            "subscriptions_url": "https://api.github.com/users/mojombo/subscriptions",
            "organizations_url": "https://api.github.com/users/mojombo/orgs",
            "repos_url": "https://api.github.com/users/mojombo/repos",
            "events_url": "https://api.github.com/users/mojombo/events{/privacy}",
            "received_events_url": "https://api.github.com/users/mojombo/received_events",
            "type": "User",
            "site_admin": false
          },
          "html_url": "https://github.com/mojombo/bert",
          "description": "BERT (Binary ERlang Term) serialization library for Ruby.",
          "fork": false,
          "url": "https://api.github.com/repos/mojombo/bert",
          "forks_url": "https://api.github.com/repos/mojombo/bert/forks",
          "keys_url": "https://api.github.com/repos/mojombo/bert/keys{/key_id}",
          "collaborators_url": "https://api.github.com/repos/mojombo/bert/collaborators{/collaborator}",
          "teams_url": "https://api.github.com/repos/mojombo/bert/teams",
          "hooks_url": "https://api.github.com/repos/mojombo/bert/hooks",
          "issue_events_url": "https://api.github.com/repos/mojombo/bert/issues/events{/number}",
          "events_url": "https://api.github.com/repos/mojombo/bert/events",
          "assignees_url": "https://api.github.com/repos/mojombo/bert/assignees{/user}",
          "branches_url": "https://api.github.com/repos/mojombo/bert/branches{/branch}",
          "tags_url": "https://api.github.com/repos/mojombo/bert/tags",
          "blobs_url": "https://api.github.com/repos/mojombo/bert/git/blobs{/sha}",
          "git_tags_url": "https://api.github.com/repos/mojombo/bert/git/tags{/sha}",
          "git_refs_url": "https://api.github.com/repos/mojombo/bert/git/refs{/sha}",
          "trees_url": "https://api.github.com/repos/mojombo/bert/git/trees{/sha}",
          "statuses_url": "https://api.github.com/repos/mojombo/bert/statuses/{sha}",
          "languages_url": "https://api.github.com/repos/mojombo/bert/languages",
          "stargazers_url": "https://api.github.com/repos/mojombo/bert/stargazers",
          "contributors_url": "https://api.github.com/repos/mojombo/bert/contributors",
          "subscribers_url": "https://api.github.com/repos/mojombo/bert/subscribers",
          "subscription_url": "https://api.github.com/repos/mojombo/bert/subscription",
          "commits_url": "https://api.github.com/repos/mojombo/bert/commits{/sha}",
          "git_commits_url": "https://api.github.com/repos/mojombo/bert/git/commits{/sha}",
          "comments_url": "https://api.github.com/repos/mojombo/bert/comments{/number}",
          "issue_comment_url": "https://api.github.com/repos/mojombo/bert/issues/comments{/number}",
          "contents_url": "https://api.github.com/repos/mojombo/bert/contents/{+path}",
          "compare_url": "https://api.github.com/repos/mojombo/bert/compare/{base}...{head}",
          "merges_url": "https://api.github.com/repos/mojombo/bert/merges",
          "archive_url": "https://api.github.com/repos/mojombo/bert/{archive_format}{/ref}",
          "downloads_url": "https://api.github.com/repos/mojombo/bert/downloads",
          "issues_url": "https://api.github.com/repos/mojombo/bert/issues{/number}",
          "pulls_url": "https://api.github.com/repos/mojombo/bert/pulls{/number}",
          "milestones_url": "https://api.github.com/repos/mojombo/bert/milestones{/number}",
          "notifications_url": "https://api.github.com/repos/mojombo/bert/notifications{?since,all,participating}",
          "labels_url": "https://api.github.com/repos/mojombo/bert/labels{/name}",
          "releases_url": "https://api.github.com/repos/mojombo/bert/releases{/id}",
          "deployments_url": "https://api.github.com/repos/mojombo/bert/deployments",
          "created_at": "2009-10-08T06:06:25Z",
          "updated_at": "2021-11-19T15:21:06Z",
          "pushed_at": "2016-04-18T15:19:42Z",
          "git_url": "git://github.com/mojombo/bert.git",
          "ssh_url": "git@github.com:mojombo/bert.git",
          "clone_url": "https://github.com/mojombo/bert.git",
          "svn_url": "https://github.com/mojombo/bert",
          "homepage": "",
          "size": 186,
          "stargazers_count": 200,
          "watchers_count": 200,
          "language": "Ruby",
          "has_issues": true,
          "has_projects": true,
          "has_downloads": true,
          "has_wiki": true,
          "has_pages": false,
          "forks_count": 69,
          "mirror_url": null,
          "archived": false,
          "disabled": false,
          "open_issues_count": 11,
          "license": {
            "key": "mit",
            "name": "MIT License",
            "spdx_id": "MIT",
            "url": "https://api.github.com/licenses/mit",
            "node_id": "MDc6TGljZW5zZTEz"
          },
          "allow_forking": true,
          "is_template": false,
          "topics": [],
          "visibility": "public",
          "forks": 69,
          "open_issues": 11,
          "watchers": 200,
          "default_branch": "master"
        },
        {
          "id": 444244,
          "node_id": "MDEwOlJlcG9zaXRvcnk0NDQyNDQ=",
          "name": "bert.erl",
          "full_name": "mojombo/bert.erl",
          "private": false,
          "owner": {
            "login": "mojombo",
            "id": 1,
            "node_id": "MDQ6VXNlcjE=",
            "avatar_url": "https://avatars.githubusercontent.com/u/1?v=4",
            "gravatar_id": "",
            "url": "https://api.github.com/users/mojombo",
            "html_url": "https://github.com/mojombo",
            "followers_url": "https://api.github.com/users/mojombo/followers",
            "following_url": "https://api.github.com/users/mojombo/following{/other_user}",
            "gists_url": "https://api.github.com/users/mojombo/gists{/gist_id}",
            "starred_url": "https://api.github.com/users/mojombo/starred{/owner}{/repo}",
            "subscriptions_url": "https://api.github.com/users/mojombo/subscriptions",
            "organizations_url": "https://api.github.com/users/mojombo/orgs",
            "repos_url": "https://api.github.com/users/mojombo/repos",
            "events_url": "https://api.github.com/users/mojombo/events{/privacy}",
            "received_events_url": "https://api.github.com/users/mojombo/received_events",
            "type": "User",
            "site_admin": false
          },
          "html_url": "https://github.com/mojombo/bert.erl",
          "description": "Erlang BERT encoder/decoder",
          "fork": false,
          "url": "https://api.github.com/repos/mojombo/bert.erl",
          "forks_url": "https://api.github.com/repos/mojombo/bert.erl/forks",
          "keys_url": "https://api.github.com/repos/mojombo/bert.erl/keys{/key_id}",
          "collaborators_url": "https://api.github.com/repos/mojombo/bert.erl/collaborators{/collaborator}",
          "teams_url": "https://api.github.com/repos/mojombo/bert.erl/teams",
          "hooks_url": "https://api.github.com/repos/mojombo/bert.erl/hooks",
          "issue_events_url": "https://api.github.com/repos/mojombo/bert.erl/issues/events{/number}",
          "events_url": "https://api.github.com/repos/mojombo/bert.erl/events",
          "assignees_url": "https://api.github.com/repos/mojombo/bert.erl/assignees{/user}",
          "branches_url": "https://api.github.com/repos/mojombo/bert.erl/branches{/branch}",
          "tags_url": "https://api.github.com/repos/mojombo/bert.erl/tags",
          "blobs_url": "https://api.github.com/repos/mojombo/bert.erl/git/blobs{/sha}",
          "git_tags_url": "https://api.github.com/repos/mojombo/bert.erl/git/tags{/sha}",
          "git_refs_url": "https://api.github.com/repos/mojombo/bert.erl/git/refs{/sha}",
          "trees_url": "https://api.github.com/repos/mojombo/bert.erl/git/trees{/sha}",
          "statuses_url": "https://api.github.com/repos/mojombo/bert.erl/statuses/{sha}",
          "languages_url": "https://api.github.com/repos/mojombo/bert.erl/languages",
          "stargazers_url": "https://api.github.com/repos/mojombo/bert.erl/stargazers",
          "contributors_url": "https://api.github.com/repos/mojombo/bert.erl/contributors",
          "subscribers_url": "https://api.github.com/repos/mojombo/bert.erl/subscribers",
          "subscription_url": "https://api.github.com/repos/mojombo/bert.erl/subscription",
          "commits_url": "https://api.github.com/repos/mojombo/bert.erl/commits{/sha}",
          "git_commits_url": "https://api.github.com/repos/mojombo/bert.erl/git/commits{/sha}",
          "comments_url": "https://api.github.com/repos/mojombo/bert.erl/comments{/number}",
          "issue_comment_url": "https://api.github.com/repos/mojombo/bert.erl/issues/comments{/number}",
          "contents_url": "https://api.github.com/repos/mojombo/bert.erl/contents/{+path}",
          "compare_url": "https://api.github.com/repos/mojombo/bert.erl/compare/{base}...{head}",
          "merges_url": "https://api.github.com/repos/mojombo/bert.erl/merges",
          "archive_url": "https://api.github.com/repos/mojombo/bert.erl/{archive_format}{/ref}",
          "downloads_url": "https://api.github.com/repos/mojombo/bert.erl/downloads",
          "issues_url": "https://api.github.com/repos/mojombo/bert.erl/issues{/number}",
          "pulls_url": "https://api.github.com/repos/mojombo/bert.erl/pulls{/number}",
          "milestones_url": "https://api.github.com/repos/mojombo/bert.erl/milestones{/number}",
          "notifications_url": "https://api.github.com/repos/mojombo/bert.erl/notifications{?since,all,participating}",
          "labels_url": "https://api.github.com/repos/mojombo/bert.erl/labels{/name}",
          "releases_url": "https://api.github.com/repos/mojombo/bert.erl/releases{/id}",
          "deployments_url": "https://api.github.com/repos/mojombo/bert.erl/deployments",
          "created_at": "2009-12-21T02:10:34Z",
          "updated_at": "2021-12-13T15:16:44Z",
          "pushed_at": "2010-01-08T00:12:10Z",
          "git_url": "git://github.com/mojombo/bert.erl.git",
          "ssh_url": "git@github.com:mojombo/bert.erl.git",
          "clone_url": "https://github.com/mojombo/bert.erl.git",
          "svn_url": "https://github.com/mojombo/bert.erl",
          "homepage": "",
          "size": 246,
          "stargazers_count": 95,
          "watchers_count": 95,
          "language": "Erlang",
          "has_issues": true,
          "has_projects": true,
          "has_downloads": true,
          "has_wiki": true,
          "has_pages": false,
          "forks_count": 49,
          "mirror_url": null,
          "archived": false,
          "disabled": false,
          "open_issues_count": 5,
          "license": {
            "key": "mit",
            "name": "MIT License",
            "spdx_id": "MIT",
            "url": "https://api.github.com/licenses/mit",
            "node_id": "MDc6TGljZW5zZTEz"
          },
          "allow_forking": true,
          "is_template": false,
          "topics": [],
          "visibility": "public",
          "forks": 49,
          "open_issues": 5,
          "watchers": 95,
          "default_branch": "master"
        },
        {
          "id": 204457,
          "node_id": "MDEwOlJlcG9zaXRvcnkyMDQ0NTc=",
          "name": "bertrpc",
          "full_name": "mojombo/bertrpc",
          "private": false,
          "owner": {
            "login": "mojombo",
            "id": 1,
            "node_id": "MDQ6VXNlcjE=",
            "avatar_url": "https://avatars.githubusercontent.com/u/1?v=4",
            "gravatar_id": "",
            "url": "https://api.github.com/users/mojombo",
            "html_url": "https://github.com/mojombo",
            "followers_url": "https://api.github.com/users/mojombo/followers",
            "following_url": "https://api.github.com/users/mojombo/following{/other_user}",
            "gists_url": "https://api.github.com/users/mojombo/gists{/gist_id}",
            "starred_url": "https://api.github.com/users/mojombo/starred{/owner}{/repo}",
            "subscriptions_url": "https://api.github.com/users/mojombo/subscriptions",
            "organizations_url": "https://api.github.com/users/mojombo/orgs",
            "repos_url": "https://api.github.com/users/mojombo/repos",
            "events_url": "https://api.github.com/users/mojombo/events{/privacy}",
            "received_events_url": "https://api.github.com/users/mojombo/received_events",
            "type": "User",
            "site_admin": false
          },
          "html_url": "https://github.com/mojombo/bertrpc",
          "description": "BERTRPC is a Ruby BERT-RPC client library.",
          "fork": false,
          "url": "https://api.github.com/repos/mojombo/bertrpc",
          "forks_url": "https://api.github.com/repos/mojombo/bertrpc/forks",
          "keys_url": "https://api.github.com/repos/mojombo/bertrpc/keys{/key_id}",
          "collaborators_url": "https://api.github.com/repos/mojombo/bertrpc/collaborators{/collaborator}",
          "teams_url": "https://api.github.com/repos/mojombo/bertrpc/teams",
          "hooks_url": "https://api.github.com/repos/mojombo/bertrpc/hooks",
          "issue_events_url": "https://api.github.com/repos/mojombo/bertrpc/issues/events{/number}",
          "events_url": "https://api.github.com/repos/mojombo/bertrpc/events",
          "assignees_url": "https://api.github.com/repos/mojombo/bertrpc/assignees{/user}",
          "branches_url": "https://api.github.com/repos/mojombo/bertrpc/branches{/branch}",
          "tags_url": "https://api.github.com/repos/mojombo/bertrpc/tags",
          "blobs_url": "https://api.github.com/repos/mojombo/bertrpc/git/blobs{/sha}",
          "git_tags_url": "https://api.github.com/repos/mojombo/bertrpc/git/tags{/sha}",
          "git_refs_url": "https://api.github.com/repos/mojombo/bertrpc/git/refs{/sha}",
          "trees_url": "https://api.github.com/repos/mojombo/bertrpc/git/trees{/sha}",
          "statuses_url": "https://api.github.com/repos/mojombo/bertrpc/statuses/{sha}",
          "languages_url": "https://api.github.com/repos/mojombo/bertrpc/languages",
          "stargazers_url": "https://api.github.com/repos/mojombo/bertrpc/stargazers",
          "contributors_url": "https://api.github.com/repos/mojombo/bertrpc/contributors",
          "subscribers_url": "https://api.github.com/repos/mojombo/bertrpc/subscribers",
          "subscription_url": "https://api.github.com/repos/mojombo/bertrpc/subscription",
          "commits_url": "https://api.github.com/repos/mojombo/bertrpc/commits{/sha}",
          "git_commits_url": "https://api.github.com/repos/mojombo/bertrpc/git/commits{/sha}",
          "comments_url": "https://api.github.com/repos/mojombo/bertrpc/comments{/number}",
          "issue_comment_url": "https://api.github.com/repos/mojombo/bertrpc/issues/comments{/number}",
          "contents_url": "https://api.github.com/repos/mojombo/bertrpc/contents/{+path}",
          "compare_url": "https://api.github.com/repos/mojombo/bertrpc/compare/{base}...{head}",
          "merges_url": "https://api.github.com/repos/mojombo/bertrpc/merges",
          "archive_url": "https://api.github.com/repos/mojombo/bertrpc/{archive_format}{/ref}",
          "downloads_url": "https://api.github.com/repos/mojombo/bertrpc/downloads",
          "issues_url": "https://api.github.com/repos/mojombo/bertrpc/issues{/number}",
          "pulls_url": "https://api.github.com/repos/mojombo/bertrpc/pulls{/number}",
          "milestones_url": "https://api.github.com/repos/mojombo/bertrpc/milestones{/number}",
          "notifications_url": "https://api.github.com/repos/mojombo/bertrpc/notifications{?since,all,participating}",
          "labels_url": "https://api.github.com/repos/mojombo/bertrpc/labels{/name}",
          "releases_url": "https://api.github.com/repos/mojombo/bertrpc/releases{/id}",
          "deployments_url": "https://api.github.com/repos/mojombo/bertrpc/deployments",
          "created_at": "2009-05-19T02:44:01Z",
          "updated_at": "2022-02-04T13:25:57Z",
          "pushed_at": "2014-08-11T20:59:15Z",
          "git_url": "git://github.com/mojombo/bertrpc.git",
          "ssh_url": "git@github.com:mojombo/bertrpc.git",
          "clone_url": "https://github.com/mojombo/bertrpc.git",
          "svn_url": "https://github.com/mojombo/bertrpc",
          "homepage": "",
          "size": 260,
          "stargazers_count": 158,
          "watchers_count": 158,
          "language": "Ruby",
          "has_issues": true,
          "has_projects": true,
          "has_downloads": true,
          "has_wiki": true,
          "has_pages": false,
          "forks_count": 30,
          "mirror_url": null,
          "archived": false,
          "disabled": false,
          "open_issues_count": 0,
          "license": {
            "key": "mit",
            "name": "MIT License",
            "spdx_id": "MIT",
            "url": "https://api.github.com/licenses/mit",
            "node_id": "MDc6TGljZW5zZTEz"
          },
          "allow_forking": true,
          "is_template": false,
          "topics": [],
          "visibility": "public",
          "forks": 30,
          "open_issues": 0,
          "watchers": 158,
          "default_branch": "master"
        },
        {
          "id": 6664329,
          "node_id": "MDEwOlJlcG9zaXRvcnk2NjY0MzI5",
          "name": "bower",
          "full_name": "mojombo/bower",
          "private": false,
          "owner": {
            "login": "mojombo",
            "id": 1,
            "node_id": "MDQ6VXNlcjE=",
            "avatar_url": "https://avatars.githubusercontent.com/u/1?v=4",
            "gravatar_id": "",
            "url": "https://api.github.com/users/mojombo",
            "html_url": "https://github.com/mojombo",
            "followers_url": "https://api.github.com/users/mojombo/followers",
            "following_url": "https://api.github.com/users/mojombo/following{/other_user}",
            "gists_url": "https://api.github.com/users/mojombo/gists{/gist_id}",
            "starred_url": "https://api.github.com/users/mojombo/starred{/owner}{/repo}",
            "subscriptions_url": "https://api.github.com/users/mojombo/subscriptions",
            "organizations_url": "https://api.github.com/users/mojombo/orgs",
            "repos_url": "https://api.github.com/users/mojombo/repos",
            "events_url": "https://api.github.com/users/mojombo/events{/privacy}",
            "received_events_url": "https://api.github.com/users/mojombo/received_events",
            "type": "User",
            "site_admin": false
          },
          "html_url": "https://github.com/mojombo/bower",
          "description": "A package manager for the web",
          "fork": true,
          "url": "https://api.github.com/repos/mojombo/bower",
          "forks_url": "https://api.github.com/repos/mojombo/bower/forks",
          "keys_url": "https://api.github.com/repos/mojombo/bower/keys{/key_id}",
          "collaborators_url": "https://api.github.com/repos/mojombo/bower/collaborators{/collaborator}",
          "teams_url": "https://api.github.com/repos/mojombo/bower/teams",
          "hooks_url": "https://api.github.com/repos/mojombo/bower/hooks",
          "issue_events_url": "https://api.github.com/repos/mojombo/bower/issues/events{/number}",
          "events_url": "https://api.github.com/repos/mojombo/bower/events",
          "assignees_url": "https://api.github.com/repos/mojombo/bower/assignees{/user}",
          "branches_url": "https://api.github.com/repos/mojombo/bower/branches{/branch}",
          "tags_url": "https://api.github.com/repos/mojombo/bower/tags",
          "blobs_url": "https://api.github.com/repos/mojombo/bower/git/blobs{/sha}",
          "git_tags_url": "https://api.github.com/repos/mojombo/bower/git/tags{/sha}",
          "git_refs_url": "https://api.github.com/repos/mojombo/bower/git/refs{/sha}",
          "trees_url": "https://api.github.com/repos/mojombo/bower/git/trees{/sha}",
          "statuses_url": "https://api.github.com/repos/mojombo/bower/statuses/{sha}",
          "languages_url": "https://api.github.com/repos/mojombo/bower/languages",
          "stargazers_url": "https://api.github.com/repos/mojombo/bower/stargazers",
          "contributors_url": "https://api.github.com/repos/mojombo/bower/contributors",
          "subscribers_url": "https://api.github.com/repos/mojombo/bower/subscribers",
          "subscription_url": "https://api.github.com/repos/mojombo/bower/subscription",
          "commits_url": "https://api.github.com/repos/mojombo/bower/commits{/sha}",
          "git_commits_url": "https://api.github.com/repos/mojombo/bower/git/commits{/sha}",
          "comments_url": "https://api.github.com/repos/mojombo/bower/comments{/number}",
          "issue_comment_url": "https://api.github.com/repos/mojombo/bower/issues/comments{/number}",
          "contents_url": "https://api.github.com/repos/mojombo/bower/contents/{+path}",
          "compare_url": "https://api.github.com/repos/mojombo/bower/compare/{base}...{head}",
          "merges_url": "https://api.github.com/repos/mojombo/bower/merges",
          "archive_url": "https://api.github.com/repos/mojombo/bower/{archive_format}{/ref}",
          "downloads_url": "https://api.github.com/repos/mojombo/bower/downloads",
          "issues_url": "https://api.github.com/repos/mojombo/bower/issues{/number}",
          "pulls_url": "https://api.github.com/repos/mojombo/bower/pulls{/number}",
          "milestones_url": "https://api.github.com/repos/mojombo/bower/milestones{/number}",
          "notifications_url": "https://api.github.com/repos/mojombo/bower/notifications{?since,all,participating}",
          "labels_url": "https://api.github.com/repos/mojombo/bower/labels{/name}",
          "releases_url": "https://api.github.com/repos/mojombo/bower/releases{/id}",
          "deployments_url": "https://api.github.com/repos/mojombo/bower/deployments",
          "created_at": "2012-11-13T02:32:34Z",
          "updated_at": "2021-06-05T12:32:06Z",
          "pushed_at": "2012-11-13T02:34:11Z",
          "git_url": "git://github.com/mojombo/bower.git",
          "ssh_url": "git@github.com:mojombo/bower.git",
          "clone_url": "https://github.com/mojombo/bower.git",
          "svn_url": "https://github.com/mojombo/bower",
          "homepage": "http://twitter.github.com/bower/",
          "size": 333,
          "stargazers_count": 5,
          "watchers_count": 5,
          "language": "JavaScript",
          "has_issues": false,
          "has_projects": true,
          "has_downloads": true,
          "has_wiki": true,
          "has_pages": false,
          "forks_count": 3,
          "mirror_url": null,
          "archived": false,
          "disabled": false,
          "open_issues_count": 0,
          "license": {
            "key": "mit",
            "name": "MIT License",
            "spdx_id": "MIT",
            "url": "https://api.github.com/licenses/mit",
            "node_id": "MDc6TGljZW5zZTEz"
          },
          "allow_forking": true,
          "is_template": false,
          "topics": [],
          "visibility": "public",
          "forks": 3,
          "open_issues": 0,
          "watchers": 5,
          "default_branch": "master"
        },
        {
          "id": 144,
          "node_id": "MDEwOlJlcG9zaXRvcnkxNDQ=",
          "name": "chronic",
          "full_name": "mojombo/chronic",
          "private": false,
          "owner": {
            "login": "mojombo",
            "id": 1,
            "node_id": "MDQ6VXNlcjE=",
            "avatar_url": "https://avatars.githubusercontent.com/u/1?v=4",
            "gravatar_id": "",
            "url": "https://api.github.com/users/mojombo",
            "html_url": "https://github.com/mojombo",
            "followers_url": "https://api.github.com/users/mojombo/followers",
            "following_url": "https://api.github.com/users/mojombo/following{/other_user}",
            "gists_url": "https://api.github.com/users/mojombo/gists{/gist_id}",
            "starred_url": "https://api.github.com/users/mojombo/starred{/owner}{/repo}",
            "subscriptions_url": "https://api.github.com/users/mojombo/subscriptions",
            "organizations_url": "https://api.github.com/users/mojombo/orgs",
            "repos_url": "https://api.github.com/users/mojombo/repos",
            "events_url": "https://api.github.com/users/mojombo/events{/privacy}",
            "received_events_url": "https://api.github.com/users/mojombo/received_events",
            "type": "User",
            "site_admin": false
          },
          "html_url": "https://github.com/mojombo/chronic",
          "description": "Chronic is a pure Ruby natural language date parser.",
          "fork": false,
          "url": "https://api.github.com/repos/mojombo/chronic",
          "forks_url": "https://api.github.com/repos/mojombo/chronic/forks",
          "keys_url": "https://api.github.com/repos/mojombo/chronic/keys{/key_id}",
          "collaborators_url": "https://api.github.com/repos/mojombo/chronic/collaborators{/collaborator}",
          "teams_url": "https://api.github.com/repos/mojombo/chronic/teams",
          "hooks_url": "https://api.github.com/repos/mojombo/chronic/hooks",
          "issue_events_url": "https://api.github.com/repos/mojombo/chronic/issues/events{/number}",
          "events_url": "https://api.github.com/repos/mojombo/chronic/events",
          "assignees_url": "https://api.github.com/repos/mojombo/chronic/assignees{/user}",
          "branches_url": "https://api.github.com/repos/mojombo/chronic/branches{/branch}",
          "tags_url": "https://api.github.com/repos/mojombo/chronic/tags",
          "blobs_url": "https://api.github.com/repos/mojombo/chronic/git/blobs{/sha}",
          "git_tags_url": "https://api.github.com/repos/mojombo/chronic/git/tags{/sha}",
          "git_refs_url": "https://api.github.com/repos/mojombo/chronic/git/refs{/sha}",
          "trees_url": "https://api.github.com/repos/mojombo/chronic/git/trees{/sha}",
          "statuses_url": "https://api.github.com/repos/mojombo/chronic/statuses/{sha}",
          "languages_url": "https://api.github.com/repos/mojombo/chronic/languages",
          "stargazers_url": "https://api.github.com/repos/mojombo/chronic/stargazers",
          "contributors_url": "https://api.github.com/repos/mojombo/chronic/contributors",
          "subscribers_url": "https://api.github.com/repos/mojombo/chronic/subscribers",
          "subscription_url": "https://api.github.com/repos/mojombo/chronic/subscription",
          "commits_url": "https://api.github.com/repos/mojombo/chronic/commits{/sha}",
          "git_commits_url": "https://api.github.com/repos/mojombo/chronic/git/commits{/sha}",
          "comments_url": "https://api.github.com/repos/mojombo/chronic/comments{/number}",
          "issue_comment_url": "https://api.github.com/repos/mojombo/chronic/issues/comments{/number}",
          "contents_url": "https://api.github.com/repos/mojombo/chronic/contents/{+path}",
          "compare_url": "https://api.github.com/repos/mojombo/chronic/compare/{base}...{head}",
          "merges_url": "https://api.github.com/repos/mojombo/chronic/merges",
          "archive_url": "https://api.github.com/repos/mojombo/chronic/{archive_format}{/ref}",
          "downloads_url": "https://api.github.com/repos/mojombo/chronic/downloads",
          "issues_url": "https://api.github.com/repos/mojombo/chronic/issues{/number}",
          "pulls_url": "https://api.github.com/repos/mojombo/chronic/pulls{/number}",
          "milestones_url": "https://api.github.com/repos/mojombo/chronic/milestones{/number}",
          "notifications_url": "https://api.github.com/repos/mojombo/chronic/notifications{?since,all,participating}",
          "labels_url": "https://api.github.com/repos/mojombo/chronic/labels{/name}",
          "releases_url": "https://api.github.com/repos/mojombo/chronic/releases{/id}",
          "deployments_url": "https://api.github.com/repos/mojombo/chronic/deployments",
          "created_at": "2008-01-29T06:48:49Z",
          "updated_at": "2022-04-29T14:31:12Z",
          "pushed_at": "2022-02-03T01:05:46Z",
          "git_url": "git://github.com/mojombo/chronic.git",
          "ssh_url": "git@github.com:mojombo/chronic.git",
          "clone_url": "https://github.com/mojombo/chronic.git",
          "svn_url": "https://github.com/mojombo/chronic",
          "homepage": "http://injekt.github.com/chronic",
          "size": 681,
          "stargazers_count": 3130,
          "watchers_count": 3130,
          "language": "Ruby",
          "has_issues": true,
          "has_projects": true,
          "has_downloads": true,
          "has_wiki": true,
          "has_pages": false,
          "forks_count": 465,
          "mirror_url": null,
          "archived": false,
          "disabled": false,
          "open_issues_count": 147,
          "license": {
            "key": "mit",
            "name": "MIT License",
            "spdx_id": "MIT",
            "url": "https://api.github.com/licenses/mit",
            "node_id": "MDc6TGljZW5zZTEz"
          },
          "allow_forking": true,
          "is_template": false,
          "topics": [],
          "visibility": "public",
          "forks": 465,
          "open_issues": 147,
          "watchers": 3130,
          "default_branch": "master"
        },
      ],
    }
  },
  created() {
    this.getUser()
  },
  methods: {
    getUser() {
      let url = "https://api.github.com/users/" + this.$route.params.login
      axios.get(url).then((response) => {
        console.log(response.data)
        this.user = response.data
      })

        let repos = "https://api.github.com/users/" + this.$route.params.login + "/repos"
        axios.get(repos).then((response) => {
          // console.log(response.data)
          this.repos = response.data
        })
    },
  }
}
</script>
