<template>
  <MDBContainer class="my-4" style="">
    <MDBFooter
        :text="['white', 'center', 'lg-start']"
        bg="primary"
        class="fixed-bottom">
      <!-- Copyright -->
      <div
          class="text-center p-3"
          style="background-color: rgba(0, 0, 0, 0.2)">
        © 2022 Made by <a class="text-white" href="https://mywebartist.eu">myWebArtist.eu</a>
      </div>
      <!-- Copyright -->
    </MDBFooter>
    <!--/ Copy this code to have a working example -->
  </MDBContainer>
</template>

<script>
import {MDBFooter, MDBContainer} from 'mdb-vue-ui-kit';

export default {
  name: "FooterComp",
  components: {
    MDBFooter,
    MDBContainer,

  },
}
</script>

<style scoped>

</style>