<template>
  <div>
    <MDBCard>
      <a v-mdb-ripple="{ color: 'light' }">
        <MDBCardImg alt="..." top v-bind:src="user.avatar_url"/>
      </a>
      <MDBCardBody>
        <MDBCardTitle>@{{ user.login }}</MDBCardTitle>
        <MDBBtn color="primary" data-test="user-thumb-card-visit-button" tag="router-link"
                v-bind:to="'/user/'+user.login">View
        </MDBBtn>
        <MDBBtn data-test="user-thumb-card-delete-button" outline="danger" v-on:click="deleteUser(user)">Del</MDBBtn>
      </MDBCardBody>
    </MDBCard>
  </div>
</template>

<script>
import {MDBCard, MDBCardBody, MDBCardTitle, MDBBtn} from "mdb-vue-ui-kit";
import {MDBCardImg, mdbRipple} from "mdb-vue-ui-kit";
import axios from 'axios'

export default {
  components: {
    MDBCard,
    MDBCardBody,
    MDBCardTitle,
    MDBBtn,
    MDBCardImg,
  },
  directives: {
    mdbRipple
  },
  name: 'UserThumbCard',
  props: {
    user: Object,
    parentmessage: String,
  },
  created() {
  },
  methods: {
    deleteUser(user) {
      // this.props.parentmessage = 'sf'
      //   console.log(user)
      this.$emit('deleteUser', user)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
