<template>
  <div>
    <MDBCard v-if="user" class="">
      <MDBRow>
        <MDBCol class="col-md-4">
          <a v-mdb-ripple="{ color: 'light' }">
            <MDBCardImg alt="..." top v-bind:src="user.avatar_url"/>
          </a>
        </MDBCol>
        <MDBCol class="col-md-142">
          <MDBCardBody>
            <MDBCardTitle data-test="user-details-card-name">{{ user.name }}</MDBCardTitle>
            <p class="fs-6">
              {{ user.followers }} followers · {{ user.following }} following <br>
              {{ user.company }}<br>
              <MDBIcon v-if="user.location" icon="map-marker-alt"/>
              {{ user.location }}
            <div v-if="user.email">
              <MDBIcon icon="envelope"/>
              {{ user.email }}
            </div>
            <MDBIcon icon="link"/>
            {{ user.blog }}
            <span v-if="user.twitter_username"> <i  class="fab fa-twitter"></i>@{{ user.twitter_username }}</span>
            </p>

            <p>
              <MDBBtn color="primary" tag="a" target="_blank" v-bind:href="user.html_url">Visit GitHub
                Profile
              </MDBBtn>
            </p>
          </MDBCardBody>
        </MDBCol>
      </MDBRow>

      <MDBRow class="m-3">
        <MDBCol>
          <MDBCardTitle data-test="user-thumb-card-title">Repos by @{{ user.login }}</MDBCardTitle>
        </MDBCol>
      </MDBRow>
      <!--              repos-->
      <MDBRow :cols="['1', 'md-3']" class="g-4 mb-3">
        <MDBCol v-for="(repo,i) in repos" v-bind:key="i">
          <MDBCard class="h-100 ml-1 ms-3 me-1" text="center">
            <!--                <MDBCardImg-->
            <!--                    src="https://mdbootstrap.com/img/new/standard/city/041.webp"-->
            <!--                    top-->
            <!--                    alt="..."-->
            <!--                />-->
            <MDBCardHeader>{{ repo.name }}</MDBCardHeader>
            <MDBCardBody>
              <!--                  <MDBCardTitle>{{ repo.name }}</MDBCardTitle>-->
              <MDBCardText>
                <!--                    <div class="d-grid gap-2 d-md-flex justify-content-md-center">-->
                <!--                      <MDBBtn class="me-md-2" color="primary">Button</MDBBtn>-->
                <!--                      <MDBBtn color="primary">Button</MDBBtn>-->

                <!--                    </div>-->


                {{ repo.description }}
              </MDBCardText>
              <MDBBtn outline="primary" tag="a" target="_blank" v-bind:href="repo.html_url">Visit</MDBBtn>


            </MDBCardBody>
            <MDBCardFooter>


              <small class="text-muted">Last updated {{ repo.updated_at }}</small>

            </MDBCardFooter>

          </MDBCard>
        </MDBCol>
      </MDBRow>
    </MDBCard>
  </div>
</template>

<script>
import {MDBCard, MDBCardBody, MDBCardTitle, MDBCardText, MDBBtn, MDBCardFooter,} from "mdb-vue-ui-kit";
import {MDBCardHeader,} from "mdb-vue-ui-kit";
import {MDBCardImg, mdbRipple} from "mdb-vue-ui-kit";
import {MDBIcon} from 'mdb-vue-ui-kit';
import {MDBCol, MDBRow} from 'mdb-vue-ui-kit';
import axios from 'axios'

export default {
  components: {
    MDBCard,
    MDBCardBody,
    MDBCardTitle,
    MDBCardText,
    MDBBtn,
    MDBCol,
    MDBRow,
    MDBCardImg,
    MDBIcon,
    MDBCardFooter,
    MDBCardHeader,
  },
  directives: {
    mdbRipple
  },
  name: 'UserDetailsCard',
  props: {
    user: Object,
    repos: Array,
  },
  data() {
    return {

    }
  },
  created() {

  },
  methods: {

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
