<template>
  <header>
    <!-- Navbar -->
    <MDBNavbar bg="white" container expand="lg" light>
      <MDBNavbarToggler target="#navbarExample01"></MDBNavbarToggler>
      <MDBNavbarNav class="mb-2 mb-lg-0" collapse="navbarExample01">
        <MDBNavbarItem active to="/">
          Home
        </MDBNavbarItem>
        <MDBNavbarItem to="/about">
          About
        </MDBNavbarItem>
      </MDBNavbarNav>
    </MDBNavbar>
    <!-- Navbar -->
  </header>
  <router-view/>

  <FooterComp></FooterComp>
</template>

<script>
import {MDBNavbar, MDBNavbarToggler, MDBNavbarNav, MDBNavbarItem} from 'mdb-vue-ui-kit';
import FooterComp from '@/components/FooterComp.vue'

export default {
  components: {
    MDBNavbar,
    MDBNavbarToggler,
    MDBNavbarNav,
    MDBNavbarItem,
    FooterComp,
  },
  data() {
    return {

    }
  },
};

</script>

<style>
#app {
  font-family: Roboto, Helvetica, Arial, sans-serif;

}
</style>
